{% extends "base.html" %}

{% block content %}
<form action="/api/create" method="post">
<p><label for="name">Server name:</label><input id="name" name="name" type="text"></p>
<hr>
<p><label for="username">Rackspace username:</label><input id="username" name="username" type="text"></p>
<p><label for="api-key">Rackspace API key:</label><input id="api-key" name="api-key" type="text"></p>
<p><label for="image">OS:</label><select id="image" name="image">
{% for id, name in images %}
	<option value="{{ id }}">{{ name }}</option>
{% endfor %}
</select></p>
<p><label for="size">Size:</label><select id="size" name="size">
{% for id, name in sizes %}
	<option value="{{ id }}">{{ name }}</option>
{% endfor %}
</select></p>
<p>You understand this will charge <em>your</em> Rackspace account, right?</p>
<p><input type="submit" value="Gimme my damn server" class="create"></p>
<input id="provider" name="provider" type="hidden" value="{{ provider }}">
</form>
{% endblock %}
