{% extends "base.html" %}

{% block content %}
<form action="/api/destroy" method="post">
<p><label>Server IP address:</label><strong>{{ unpacked_ip }}</strong></p>
<p><label for="id">Server ID:</label><strong>{{ id }}</strong></p>
<p><label for="username">Rackspace username:</label><input id="username" name="username" type="text"></p>
<p><label for="apikey">Rackspace API key:</label><input id="apikey" name="apikey" type="text"></p>
<p><input type="submit" value="Destroy this server and all the data on it" class="destroy"></p>
<input id="provider" name="provider" type="hidden" value="{{ provider }}">
<input id="id" name="id" type="hidden" value="{{ id }}">
<input id="ip" name="ip" type="hidden" value="{{ ip }}">
<input id="mac" name="mac" type="hidden" value="{{ mac }}">
</form>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function() {
	$("form").submit(function() {
		spin();
		var id = $("#id").val();
		$.ajax({
			data: {
				"apikey": $("#apikey").val(),
				"id": id,
				"ip": $("#ip").val(),
				"mac": $("#mac").val(),
				"provider": $("#provider").val(),
				"username": $("#username").val()
			},
			dataType: "json",
			error: function(xhr, textStatus, errorThrown) {
				unspin();
				alert($.parseJSON(xhr.responseText).error);
			},
			success: function(data, textStatus, xhr) {
				unspin();
				$("form").empty().append(
					"<p><strong>{{ unpacked_ip }}</strong> has been destroyed.</p>" +
					"<hr>" +
					"<p><a href=\"/\">Gimme another server</a></p>"
				);
				if (window.localStorage) {
					localStorage.removeItem("ip." + id);
					localStorage.removeItem("url." + id);
					var ids = localStorage["ids"];
					ids = ids ? ids.split(",") : [];
					for (i in ids) {
						if (ids[i] == id) { delete ids[i]; }
					}
					localStorage.setItem("ids", ids);
				}
			},
			type: "POST",
			url: $(this).attr("action")
		});
		return false;
	});
});
</script>
{% endblock %}
